
	<!-- start: Main Slider -->
	<style type="text/css" media="screen">

	.ls-layer,
	.ls-layer * {
		font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif;
		font-weight: normal;
	}
	
	.ls-layer p {
		padding: 0px 10px;				
		line-height: 40px;
		box-shadow: 0px 4px 10px -5px black;
		text-shadow: none;
		font-size: 22px;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
	}

	.l1-s1 {
		height: 80px;
		color: black;
		background: white;
		opacity: .9;
		width: 650px;
		text-align: center;
	}
	
	.l2-s1 {
		height: 40px;
		color: white;
		background: black;
		opacity: .65;
		white-space: nowrap;
	}
	
	.l3-s1 {
		height: 40px;
		color: black;
		background: white;
		opacity: .9;
		white-space: nowrap;
	}		
				
</style>

 <br>
  <br>
   <br>


	<div class="container">
		
		<!-- start: Page Title -->
		<div class="row-fluid">
		
			<div id="page-title" class="span4 offset4">

				<h2>Registra tu cuenta aqui</h2>

			</div>
			
		</div>
		<!-- end: Page Title -->
		
		<!-- start: Login Box-->
		<div class="row-fluid">
		
			<div class="lr-page span4 offset4">

				<div id="login-box">

					<!-- start: Row -->
					<div class="row-fluid">

						<div id="login-form" class="span12">

						

							<div class="page-title-small">

								<h3>Una Gauchada</h3>

							</div>

							<form method="post" action="">

								<div class="row-fluid">
								
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :nombre %><br />
<%= f.text_field :nombre %></div>

 <div><%= f.label :apellido %><br />
<%= f.text_field :apellido %></div>

 <div><%= f.label :telefono %><br />
<%= f.text_field :telefono %></div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

<%= f.label :avatar, class: 'col-sm-2 control-label'  %>
        <div class="field">
            <%= f.file_field :avatar %>
        </div>
  <div class="actions">
    <%= f.submit "Registrarse" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

								</div>

						
								</div>	

								<div class="actions">


								</div>

							</form>

						</div>

					</div>
					<!-- end: Row -->	

				</div>
				<!-- end: Login Box  -->
				
			</div>	
			
      	</div>
		
	</div>	
 <br>
  <br>
   <br>
    <br>
